
a {
	text-decoration: none;
}

body {
	background: url("../images/cork-wallet.png") #efeee7 center center repeat;
}

.navbar {
	border-bottom: 2px solid #cccccc;
	margin-bottom: 20px;
	padding: 0;
}

.main-content {
	background-color: white;
	width: 100%;
	box-shadow: 10px 10px 5px grey;
	padding: 10px;
	margin-bottom: 60px;
}

.nav-link {
	margin-right: 20px;
}

.sidebar {
	background-color: white;
	width: 100%;
	padding: 10px;
	box-shadow: 10px 10px 5px grey;
	margin-bottom: 60px;
}

hr {
	width: 90%;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 20px;
	margin-bottom: 0px;
	animation-name: portName;
	animation-duration: 4s;
	animation-iteration-count: 4;
	animation-direction: alternate;
}

@keyframes portName {
	0% {background-color: #4aaaa5;}
	100% {background: none; background-color: #000033;}
	
}

h2 {
	color: #4aaaa5;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.bio-pic {
	float: left;
	max-height: 200px;
	height: auto;
	max-width: 200px;
	width: 100%;
	margin: 15px;
}

.sideLinks{
	max-width: 50px;
	width: 100%;
	max-height: 50px;
	height: auto;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	

}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


footer {
	background-color: #666666;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #ffffff;
	border-top: 5px solid #4aaaa5;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

textarea {
	height: 200px;
}


.cntct {
	width: 80%;
	padding: 10px;
	margin: 10px auto;
}

.formTitle {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}



.project {
	color: white;
	background-color: #4aaaa5;
	font-size: 20px;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	display: block;
	position: relative;
	bottom: 80px;
	transition: .5s ease;
	backface-visibility: hidden;
}

a:hover .project {
	background: rgba(74, 170, 165, 0.5);
	text-decoration: none;
}

a:hover .sideLinks {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.formButton {
	width: 100px;
	height: 50px;
	background-color: #4aaaa5;
	color: white;
	margin-top: 10px;
	font-size: 16px;
	border: none;
}

ul.navbar-nav {
	flex-direction: row;
}